{% extends "base.html" %}
{% block content %}
<div class='w-full bg-orange-600 flex justify-between items-center px-10 py-7' >
        <a href="{% url 'home' %}" class='text-3xl font-bold text-orange-100 mb-6 hover:text-orange-300'>EventNest</a>
        <div class='flex justify-between'>
            <ul class='flex gap-5 spacey-4'>
                <li><a href="{% url 'main' %}" class='text-orange-100 font-bold hover:text-orange-300'>Home</a></li>
                <p class='cursor-pointer  text-white hover:text-yellow-400 font-semibold'>About</p>
                <p class='cursor-pointer text-white hover:text-yellow-400 font-semibold'>Contact</p>
                
            </ul>
        </div>
        
        <div class="flex gap-1">
            <a
            href="{% url 'sign-in' %}"
            class="hidden md:block bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-orange-600 transition duration-300"
            >Sign In</a
            >
            <a
            href="{% url 'sign-up' %}"
            class="hidden md:block bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-orange-600 transition duration-300"
            >Sign Up</a
            >
        </div>

        
    </div>
    {% comment %}  {% endcomment %}
    <div class='mx-auto my-9  w-1/2'>
        {% if messages %}
            {% for message in messages %}
                <div class='px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %}'>{{message}}</div>
            {% endfor %}
        {% endif %}
        <form  method='POST'>
            {% csrf_token %}
            {{form}}
            <button class="hidden md:block bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-orange-600 transition duration-300 mt-3" type='submit'>Sign In</button>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">
            Forgot Password?
            </a>
        </p>
    </div>
{% endblock content %}